@model Firma.PortalWWW.Models.Biblioteka.DaneDoKoszyka
@{
    ViewData["Title"] = "Koszyk";
    Layout = "~/Views/Shared/_KoszykLayout.cshtml";
}
<div>
    Koszyk
</div>
<div>
    <table>
        <tr>
            <th>Tytul</th>
            <th>Autor</th>
            <th>Wydawnictwo</th>
            <th></th>
            @foreach (var item in Model.ElementyKoszykaB)
            {
        <tr>
            <td>@item.Produkt.Tytul</td>
            <td>@item.Produkt.Autor</td>
            <td>@item.Produkt.Wydawnictwo</td>
            @*     <td>@item.Towar.Cena</td>*@
            @*<td>@item.Ilosc</td>*@
            <td></td>
        </tr>
        }
            <br />
            <br />
            <div>
                <b>Rezerwacja numer:</b>  
            </div>
            <div>@Model.Rezerwacja</div>
        </table>
    </div>