@model Firma.Data.Data.Sklep.Produkt2
@{
    ViewData["Title"] = Model.Nazwa;
    Layout = "~/Views/Shared/_sklepLayout.cshtml";
}
<br>
<br>
<br>
@*<h2 class="header">Twoje rezerwacje</h2>*@
<div class="col s12 m7">
    <div class="card horizontal">
        <div class="card-image">
            <img src=@Model.FotoURL>
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <table class="striped">
                    <tbody>
                        <tr>
                            <td>
                                <b>  Tytuł:</b>
                            </td>
                            <td>
                                @Model.Tytul
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>  Autor:</b>
                            </td>
                            <td>
                                @Model.Autor
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Wydawnictwo:</b>
                            </td>
                            <td>
                                @Model.Wydawnictwo
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Liczba pozycji:</b>
                            </td>
                            <td>
                                @Model.Ilosc
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Streszczenie:</b>
                            </td>
                            <td>
                                @Model.Opis
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>

                                <button class="btn pink darken-1 white-text" data-mdb-color="dark"> @Html.ActionLink("Dodaj do koszyka", "DodajDoKoszyka", "Koszyk", new { id = Model.IdProduktu2 }, "")</button>


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>