@model Firma.Data.Data.CMS.Strona

@{
    ViewData["Title"] = @Model.LinkTytul;
}




<h1 class="center pink-text">
    @Model.Tytul
</h1>
<div class="row center">
    @Model.Tresc
</div>

@*ostatnie wydarzenia*@



@*<section class="zdjecie">
        <div class="container karta__nowosci srodek">
            <div class="row">
                <div class="col s12 " >
                    <div class="card pink darken-3 card__wymiary ">
                        <div class="card-content white-text">
                            <br><br>
                            <span class="card-title">PREMIERA</span>
                            <p>
                                <br>
                                Diuna. Ród Harkonnenów. Preludium
                            </p>
                            <h1>@Model.Tytul</h1>
                            <p>
                                @Model.Tresc
                            </p><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

